.details {
  display: flex;
  gap: 40px;
  padding: 40px;
}

.details img {
  width: 300px;
  border-radius: 10px;
}

.details button {
  margin-top: 15px;
  padding: 10px 15px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}